@import 'fonts';

$general-font: 'Overpass';
$calculator-font: 'Bebasneue';
$basic-text-color: black;
$nav-text-color: #22313f;


$main-bg-color: #34495e;
$nav-bg-color: #8dc6ff;

$big-font: 20px;
$medium-font: 15px;





