@import 'fonts';

$general-font: 'Overpass';
$calculator-font: 'Bebasneue';
$calculator-text-color: #e5ecf4;
$basic-text-color: black;
$nav-text-color: #22313f;

$button-bg-color: #29c729;
$main-bg-color: #34495e;
$nav-bg-color: #8dc6ff;

$big-font: 20px;
$medium-font: 15px;





